{% extends'base template.html' %}
{% block title  %}Help Request{% endblock %}
{% block h1 %} Help Is On Its Way {% endblock %}
{% block parag %}
   <div style="padding:7.5rem;position: center;">
        <blockquote class="blockquote">
            <p class="main" class="mb-0" >
            Your help request has been posted in our help field section and hopefully one of our  <strong style="color: orange">HELPERS</strong>
                will contact you soon for more details
            </p>
        </blockquote>
    </div>

{% endblock %}