{% extends 'base template.html' %}
{% block title %}Forget Password{% endblock %}
{% block style %}
    {{ super() }}
{% endblock %}
{% block h1 %}{% endblock %}
{% block parag %}
    <div style="padding-bottom:1rem;position: center;">
        <blockquote class="blockquote">
            <p class="main" class="mb-0">
                <strong style="color: orange">Don't worry</strong><br/>
                We get it, stuff happens. Just enter your email address below and the new password
            </p>
        </blockquote>
    </div>
{% endblock %}
{% block action %}



    {% if form.errors %}
        <ul class="errors" style="padding-left:10rem;font-weight: bolder">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li style="color: red">{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container" style="padding: 7rem; background-image: linear-gradient(to right, lightgray ,lightsalmon);
    box-shadow: 10px 10px 5px grey; ">
        <div style="font-size: 24px; color: orange; padding-left: 7rem; font-weight: bolder">
            {% for message in get_flashed_messages() %}
                {{ message }}<br/>
            {% endfor %}
        </div>
        <form id="formID" action="/forget" method="post">
            {{ form.csrf_token }}
            <br/>
            <br/>
            <div class="form-group col-md-10">
                <label for="inputPassword4" style="font-size: 24px; position: center">Please enter your login
                    email</label>
                {{ form.email (class="form-control") }}
            </div>
            <div class="form-group col-md-10">
                {{ form.sign (class="btn btn-primary" ,style="float: right") }}
            </div>
            <br/> <br/>

        </form>
    </div>
    </div>
    </div>

    <br/><br/><br/>


{% endblock %}