{% extends "base template.html" %}
{% block title  %}OUR HELPERS-Help Day {% endblock %}
{% block h1 %}HELP DAY {% endblock %}


{% block parag %}
    <div style=" padding-left:7rem;padding-right: 7rem;padding-top: 7rem; width: 100%;text-align: center">
        <blockquote class="blockquote">
        <p class="mb-0" style="font-family: 'Berlin Sans FB'; font-size: 24px;">
            We Know how busy students  are, but in your free time, you can help other people and in the same time you can earn some money
            <br/><em>Therefore, we are so grateful for you help.. that means a lot for us.</em><br/>
        </p>
        </blockquote>
    </div>
<br/>
<br/>
    <div style="padding-left: 7rem; padding-right: 7rem">
        <blockquote class="blockquote">
            <p class="main" class="mb-0" >Please tell us, in which day can you help other people?</p>
        </blockquote>
    </div>
{% endblock %}

{% block action %}
    <dev class="row ">
    <div class="container col-md-6" style="float: left; padding:5% 7%" >
        <a href="#">
            <img src="static/img/Sunday.jpg" alt="Sunday" class="image" style="width: 100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0,.6), 0 6px 20px 0 rgba(0, 0, 0, .4);">
        </a>
    </div>

    <div class="container col-md-6" style="float:right; padding:5% 7%" >
        <a href="#">
            <img src="static/img/Monday.jpg" alt="Monday" class="image" style="width:100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0,.6), 0 6px 20px 0 rgba(0, 0, 0, .4);">
        </a>
    </div>
    </dev>
<br/>
    <dev class="row ">
    <div class="container col-md-6" style="float:left; padding:5% 7%" >
        <a href="#">
            <img src="static/img/Tuseday.jpg." alt="Tuesday" class="image" style="width:100%;
             box-shadow: 0 4px 8px 0 rgba(0, 0, 0,.6), 0 6px 20px 0 rgba(0, 0, 0, .4); ">
        </a>
    </div>

    <div class="container col-md-6" style="float:right; padding:5% 7%" >
        <a href="#">
            <img src="static/img/wednesday.jpg." alt="Wednesday" class="image" style="width:100%;
             box-shadow: 0 4px 8px 0 rgba(0, 0, 0,.6), 0 6px 20px 0 rgba(0, 0, 0, .4);">
        </a>
    </div>
    </dev>
    <dev class="row ">
    <div class="container col-md-6" style="float:left; padding:5% 7%" >
        <a href="#">
            <img src="static/img/Thursday.jpg." alt="Thu" class="image" style="width:100%;
             box-shadow: 0 4px 8px 0 rgba(0, 0, 0,.6), 0 6px 20px 0 rgba(0, 0, 0, .4);">
        </a>
    </div>

    <div class="container col-md-6" style="float:right; padding:5% 7%" >
        <a href="#">
            <img src="static/img/Friday.jpg" alt="event" class="image" style="width:100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0,.6), 0 6px 20px 0 rgba(0, 0, 0, .4);">
        </a>
    </div>
    </dev>
    <dev class="row center_div">
    <div class="container col-md-6" style="padding-left: 7rem; padding:5% 7%" >
        <a href="#">
            <img src="static/img/Saturday.jpg" alt="event" class="image" style="width:100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0,.6), 0 6px 20px 0 rgba(0, 0, 0, .4);">
        </a>
    </div>
    </dev>
{% endblock %}