{% extends "base template.html" %}

{% block title %} Home {% endblock %}
{% block content %}
<div style="float: right;width: 45%; margin: 7rem; margin-top: 10rem">
    <p style="font-family: 'Berlin Sans FB';font-size: 24px">
      Most of the people are in shortage of time and need help in many daily
      life activities, like need a drive, buying grocery, and even cooking..... so let's help one another
      <br/>
      <br/>
      In the same time, we have university students who do not have as much control over their time to be able to commit
      to a job; however, they are in need of money
      <br/>
      <br/>
      SO, if you need help be sure that there is a student is willing to help....
    </p>
  <p class="main"> All what you need is just ask for it</p>
</div>

<!-- side buttons-->
<div style="float: left; margin-left: 7rem; margin-top: 7rem; margin-bottom: 7rem" >
  <a href="/ineedhelp" class="btn btn-dark" style="height: 236px;width: 450px; ">
      <br/>
      <br/>
      <br/>
      <span  class="click">I need Help</span></a>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
 <a href="/icanhelp" type="button" class="btn btn-dark" style="height: 236px;width: 450px;  ">
     <br/>
     <br/>
     <br/>
     <span class="click">I can Help</span></a>
</div>
{% endblock %}
  <!-- footer-->

