{% extends'I need help.html' %}
{% block title %}I can help {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block h1 %}!! helpful !!{% endblock %}

{% block parag %}
    <div style="float: right; padding: 7rem; width: 100%; ">
        <blockquote class="blockquote">
            <p class="main" class="mb-0">Woohoo... that is so great, we are thankful in advance for your help </p>
            <p class="main" class="mb-0" style="color: coral">NOW tell us, In what can you help others? </p>
        </blockquote>
    </div>
{% endblock %}


{% block action %}
    <div class="container col-md-8" style="float: left;padding:5% 7%">
        {% block home %}
            <a href="/event_request">
                <img src="static/img/home.jpg" alt="event" class="image" style="width:100%;">
                <div class="middle">
                    <div class="text">HOME</div>
                </div>
            </a>
            </div>
        {% endblock %}
    </div>
     <div class="container col-md-8" style="float: right;padding:5% 7%">
        <a href="#">
            <img src="static/img/kids.jpg" alt="event" class="image" style="width:100%; ">
            <div class="middle">
                <div class="text">KIDS</div>
            </div>
        </a>
    </div>

    <div class="container col-md-8" style="float: left;padding:5% 7%" >
        <a href="#">
            <img src="static/img/buying&Delivery.jpg" alt="event" class="image" style="width:100%; ">
            <div class="middle">
                <div class="text">BUYING & DELIVERY</div>
            </div>
        </a>
    </div>
{% endblock %}