{% extends'base template.html' %}
{% block title  %}Sponsors/Thanks{% endblock %}
{% block h1 %} THANKS {% endblock %}



{% block parag %}
   <div style="padding:7.5rem;position: center;">
        <blockquote class="blockquote">
            <p class="main" class="mb-0" >
            We are so grateful that you want to be part of our <strong style="color: orange">SPONSORS</strong>
            </p>
        </blockquote>
    </div>
 <div style="padding-left: 7.5rem;position: center;">
        <blockquote class="blockquote">
            <p class="main" class="mb-0" >
                We will contact you soon for more information
            </p>
        </blockquote>
    </div>
{% endblock %}
