{% extends'base template.html' %}
{% block head %}
    {{ super() }}
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
{% block title  %}SIGN UP-Student {% endblock %}
{% block h1 %} Welcome {% endblock %}
{% block content %}
    {% if form.errors %}
    <ul class="errors" style="padding-left:10rem;font-weight: bolder">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li style="color: red">{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

     <div style="font-size: 24px; color: #605E5E; padding-left: 7rem; font-weight: bolder">
{% for message in get_flashed_messages() %}
    {{ message }}<br/>
{% endfor %}
    </div>

<div class="container register" style="padding:7%">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="static/img/sign%20up.jpg" alt="" style="width: 100%;opacity: .75"/>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Welcome Our Helpful Student<br/></h3>

                    <form method="post" action="/signup">
                             {{ form.csrf_token }}

                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.first(class="form-control" ,placeholder="First Name *" )}}
                            </div>
                            <div class="form-group">
                                {{ form.last(class="form-control" , placeholder="Last Name *" ) }}
                            </div>
                            <div class="form-group">
                               {{ form.password(class="form-control" ,placeholder="Password *" ) }}
                            </div>
                            <div class="form-group">
                                {{ form.confirm(class="form-control", placeholder="Confirm Password *" ) }}
                            </div>
                            <div class="form-group">
                                <div>
                                        {{ form.sex }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.email(class="form-control", placeholder="Your Email *") }}
                            </div>
                            <div class="form-group">
                                <p style="font-size: 13.3px">Please use your University email (example@encs.concordia.ca)</p>
                            </div>
                            <div class="form-group">
                                    {{ form.uni (class="form-control")}}
                            </div>
                            <div class="form-group">
                                {{ form.study(class="form-control",placeholder="Field of Study *" ) }}
                            </div>
                            <div class="form-group">
                               {{ form.phone(class="form-control", placeholder="Your Phone *" ) }}
                            </div>
                            <div>
                                {{form.sign (class="btnRegister" )}}
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}